/* CSS RESET */

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.interactive-widgets { 
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.tabs-main-headers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: 'Rubik Mono One', sans-serif;
    color: coral;
    font-size: 9px;
}

.tabs-main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    background-color: cornsilk;
    background-size: cover;
}

.tabs-main-content > h3 { 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.tabs-main-headers > li {
    list-style-type: none;
    margin: 0;
    border-right: 1px solid black;
    border-top: 2px solid black;
    border-left: 1px solid black;
    border-bottom: 2px solid black;
    text-align: center;
    flex: 1;
    background-color: cornsilk;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-top: 4px;
}

li:first-child {
    border-left: 2px solid black;
}

li:last-child{
    border-right: 2px solid black;
}

.tabs-main {
    width: 27%;
}

li.selected {
    border-bottom: none;
}

li.unselected { 
    border-bottom: 2px solid black;
}

.clock-content {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0 auto;
    font-weight: bold;
    height: 70px;
    width: 240px;
    padding: 5px;
    background-color: cornsilk;
    border: 2px solid black;
    border-radius: 8px;
}

.clock-content > p {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
}

.clock-name {
    font-family: 'Rubik Mono One', sans-serif;
    text-align: center;
    color: coral;
    margin-bottom: -3px;
}
