/* PHASE 5: Cats */
.content-header {
  position: relative;
  height: 20%;
  width: 100%;
  background-image:url("../images/cats.jpg");
  background-color: #cccccc;
    background-size: cover;
  border-bottom: 1px solid #ccc;
  
}

.content-header > h1 {
  height: 200px;
  display: flex;
  justify-content: center;
  font-size: 50px;
  align-items: flex-end;
  color: white;
  text-shadow: black 0 0 10px;
}

.cool-button {
  /* display: flex;
  justify-content: right; */
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: white;
  border-radius: 500px;}


    /* position: absolute;
  bottom: 20px;
  right: 20px;
  color: #000;
  background: #fff;
  font-weight: bold;
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
} */

